Source: picture-rings
Section: web
Priority: optional
Maintainer: Bill MacAllister <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 8),
 imagemagick,
 libappconfig-perl,
 libdbi-perl,
 libdbd-mysql-perl,
 libfile-homedir-perl,
 libfile-type-perl,
 libfile-slurp-perl,
 libimage-exif-perl,
 libimage-exiftool-perl,
 libimage-info-perl,
 libimage-magick-perl,
 libipc-run-perl,
 perl,
 perltidy,
 php-cli
Standards-Version: 3.9.4

Package: picture-rings
Architecture: all
Depends: apache2,
 exif,
 imagemagick,
 libapache2-mod-php5,
 libappconfig-perl,
 libdbi-perl,
 libdbd-mysql-perl,
 libfile-homedir-perl,
 libfile-type-perl,
 libfile-slurp-perl,
 libimage-exif-perl,
 libimage-exiftool-perl,
 libimage-info-perl,
 libimage-magick-perl,
 libipc-run-perl,
 perl,
 ${perl:Depends}
Description: Rings Picture Gallery Web Application
 This web application organizations pictures and displays them via a 
 web server.  The images are loaded into a mysql database in serveral 
 resultions for fast display.  The raw images are stored and not 
 modified.
 .
 The application supports a fine grained access model.  Access control 
 and password information are stored in an LDAP database.
