[Unit]
Description=Ring Resize Daemon
After=network.target

[Service]
Type = simple
User = www-data
Group = www-data
ExecStart=/usr/bin/k5start -L -K 6 -l 10h -f /etc/rings/service-rings.keytab \
    -m 640 -o www-data -g www-data \
    -a -t -k /run/www-data/ring-daemon.tgt -U \
    -- /usr/bin/ring-daemon pending
Restart = always
RestartSec = 1
StartLimitBurst = 60
PrivateTmp = true
PrivateDevices = yes
ProtectSystem = full
ProtectHome = read-only

[Install]
WantedBy=multi-user.target
