[Unit]
Description=Ring Load Daemon
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/ring-daemon pending
Restart=on-failure
PrivateTmp=true
PrivateDevices=yes
ProtectSystem=full
ProtectHome=read-only
User=www-data
Group=www-data
Restart=on-failure
StartLimitBurst=60

[Install]
WantedBy=multi-user.target
