[Unit]
Description=Ring Resize
After=network.target

[Service]
ExecStart=/usr/bin/ring-load-daemon
Restart=always
PrivateTmp=true
PrivateDevices=yes
ProtectSystem=full
ProtectHome=read-only
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
