BODY {background-color: black;
      background-image: none;
      color: black;}

TD {background-color: black;
    color: black;}

A:link {color: white;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:visited {color: white;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:active {color: white;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
H1 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H2 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H3 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
DT {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
P {color: white;
   background-color: black;
   text-decoration: none;
   font-style: normal;
   font-family: sans-serif;}

#linkDiv {
    position: absolute;
    left: 0px;
    top: 0px;
  z-index: 9;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  text-align: left;
}

#linkDivHeader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

p.tight {
    margin: 0px;
    background-color: #666666;
}
