BODY {background-color: EEEEFF;
      background-image: none;
      color: black;}

A:link {color: Navy;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:visited {color: Blue;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:active {color: Red;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
H1 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H2 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H3 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
P {color: Black;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}

.hang {
    text-indent: -3em;
    margin-left: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hang-big {
    text-indent: -200px;
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

dl {
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #999;
}

dt {
    clear: left;
    float: left;
    width: 20%;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    color: navy;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
}

dd {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
    padding: 5px;
    font-style: normal;
    font-family: sans-serif;
}

.image .caption {
    font-size: 80%;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

label.field {
    text-align: right;
    width: 25%;
    float: left;
    font-weight: bold;
}