BODY {background-color: EEEEFF;
      background-image: none;
      color: black;}

A:link {color: Navy;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:visited {color: Blue;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
A:active {color: Red;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
H1 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H2 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
H3 {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
DT {color: navy;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-family: sans-serif;}
P {color: Black;
        text-decoration: none;
        font-style: normal;
        font-family: sans-serif;}
